body {
    width: 1440px;
    font-family: Poppins, sans-serif;
}

header {
    position: relative;
    left: 376.02px;
    width: 1064px;
    height: 156px;
    
}



h1 {
    position: absolute;
    left: 122.3px;
    top: 72.92px;
    bottom: 43.96px;
    width: 868.32px;
    height: 36.96px;
    border-bottom: 3px solid #AACE9B;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}

main {
    position: absolute;
    left: 376.02px;
}

h2 {
    position: absolute;
    left: 14.57px;
    top: 10px;
    bottom: 383.44px;
    width: 495.78px;
    height: 317.56px;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}

button {
    position: absolute;
    top: 627.84px;
    left: 10px;
    width: 144.37px;
    height: 50.55px;
    background-color: #FFFFFF;
    border: 2px solid #AACE9B;
    border-radius: 4px;
    color: #AACE9B;
    font-size: 13px;
    font-weight: 400;

}

h3 {
    position: absolute;
    left: 122.3px;
    width: 868.32px;
    border-bottom: 3px solid #AACE9B;
    font-size: 48px;

}

.burguer-menu {
    position: absolute;
    left: 32.93px;
    top: 39.96px;
    bottom: 11.14px;
    width: 35.75px;
    height: 33.92px;
}

.welcome-container {
    position: relative;
    width: 1063px;
    height: 711px;
}

.free-website {
    position: absolute;
    top: 288.83px;
    left:24.66px;
    bottom: 308.44px;
    width: 426.33px;
    height: 113.73px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
}

.website-introduction {
    position: absolute;
    top: 448.9px;
    left: 15.64px;
    bottom: 48.68px;
    width: 557.17px;
    height: 213.42px;
    font-size: 24px;
    color: #b3b3b3;
}

.clock {
    position: absolute;
    top: 20.65px;
    left: 572.81px;
    width: 469.19px;
    height: 584.11px;
}

.do-container {
    width: 1063px;
    height: 717px;
}

.actions-box {
    display: inline-block;
    width: 49%;
    height: 250px;
    padding-top: 100px;
}


.description-box {
    float: right;
    width: 302.64px;
    height: 236.12px;
}

.description-box h4 {
    font-size: 28px;
    font-weight: 700;
}

.description-box p {
    padding-top: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}