/*General elements styles*/

body {
    width: 1440px;
    font-family: Poppins, sans-serif;
}

header {
    position: relative;
    left: 380px;
    width: 900px;
    z-index: 5;
    height: 156px;
    background-color: #FFFFFF;
}*

h1 {
    position: absolute;
    left: 123px;
    top: 73px;
    width: 868px;
    height: 37px;
    border-bottom: 3px solid #AACE9B;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

main {
    position: absolute;
    left: 376px;
}

h2 {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 496px;
    height: 317px;
    font-size: 64px;
    font-weight: 600;
}

button {
    position: absolute;
    top: 628px;
    left: 10px;
    width: 144px;
    height: 50px;
}

h3 {
    position: absolute;
    left: 122px;
    width: 868px;
    border-bottom: 3px solid #AACE9B;
    font-size: 48px;
    font-weight: 400;
}

label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

h4 {
    width: 268px;
    padding-bottom: 10px;
    border-bottom: 5px solid #AACE9B;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

ol li {
    margin-left: 60px;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400px;
    list-style: decimal;
    
}

nav ul {
    position: absolute;
    top: 160px;
    left: 45px;
}

nav ul li {
    width: 271px;
    height: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #A4A4A4;
}

nav ul li a {
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #545454;
    text-decoration: none;
}

/*Header Styles*/

.header-container {
    position: fixed;
    top: 0;
    left: 380px;
    width: 1063px;
    height: 156px;
    background-color: #FFFFFF;
}
.burguer-menu {
    position: absolute;
    left: 32.93px;
    top: 39.96px;
    bottom: 11.14px;
    width: 35.75px;
    height: 33.92px;
}

/* 'Welcome section styles*/

.welcome-container {
    position: relative;
    width: 1063px;
    height: 711px;
}

.welcome-container p:nth-of-type(1) {
    position: absolute;
    top: 288.83px;
    left:24.66px;
    bottom: 308.44px;
    width: 426.33px;
    height: 113.73px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 42px;
}

.welcome-container p:nth-of-type(2) {
    position: absolute;
    top: 448.9px;
    left: 15.64px;
    bottom: 48.68px;
    width: 557.17px;
    height: 213.42px;
    font-size: 24px;
    line-height: 36px;
    color: #b3b3b3;
}

.clock {
    position: absolute;
    top: 20.65px;
    left: 573px;
    width: 469.19px;
    height: 584px;
}

.btn {
    background-color: #AACE9B;
    border: 1px solid #373867;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
}

/* 'What can you do?' section styles*/

.do-container {
    position: relative;
    left: 10px;
    width: 1063px;
    height: 717px;
}

.actions-box {
    display: inline-block;
    width: 49%;
    height: 250px;
    padding-top: 100px;
}

.action-box img {
    width: 208px;
    height: 237px;
}


.description-box {
    float: right;
    width: 303px;
    height: 236px;
}

.description-box h4 {
    font-size: 28px;
    font-weight: 700;
    border: none;
}

.description-box p {
    padding-top: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

/* 'Why use Trackgenix' section styles*/ 

.why-container {
    position: relative;
    width: 1063px;
    height: 500px;
}
.why-container h3 {
    padding-top: 100px;
    box-sizing: border-box;
}

.why-container ul {
    position: absolute;
    top: 150px;
    left: 122.3px;
}

.why-container ul li {
    padding-top: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    list-style-type: '✓';
}

/* Contact form styles */

.contact-container {
    position: relative;
    width: 1063px;
    height: 516px;
}

.form-box {
    display: inline-block;
    width: 358px;
    height: 61px;
    
}

.form-box input {
    width: 317px;
    height: 43px;
}

.business {
    position: absolute;
    top: 90px;
    left: 95px;
}

.email {
    position: absolute;
    top: 90px;
    left: 492px;
}

.contact-area {
    position: absolute;
    top: 172px;
    left: 100px;
    display: inline;
}
.contact-area p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.contact-area ul li {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}

.phone {
    position: absolute;
    top: 215px;
    left: 492px;
}

.message {
    position: absolute;
    top: 328px;
    left: 95px;
    display: inline-block;
    width: 714px;
    height: 200px;
}

.message textarea {
    width: 714px;
    height: 111px;
}

.message input {
    position: absolute;
    top: 159px;
    left: 565px;
    width: 158px;
    height: 36px;
}

/* 'Trackgenix history' section styles */

.history-container {
    position: relative;
    left: 10px;
    width: 895px;
    height: 604px;
    background-color: #D9E0D6;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.history-container h3 {
    position: absolute;
    top: 149px;
    left: 169px;
    width: 235px;
    height: 90px;
    border: none;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align:  right;
    color: #756464;
}

.history-container p:nth-of-type(1){
    position: absolute;
    top: 268px;
    left: 146px;
    width: 300px;
    height: 60px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

.history-container img:nth-of-type(1){
    position: absolute;
    top: 423px;
    left: 256px;
    width: 78px;
    height: 78px;
}

.history-container img:nth-of-type(2){
    position: absolute;
    top: 423px;
    left: 362px;
    width: 78px;
    height: 78px;
}

.history-container img:nth-of-type(3) {
    position: absolute;
    top: 167px;
    left: 448px;
}

.vertical-line-1 {
    position: absolute;
    top:  33px;
    left: 457px;
    width: 0px;
    height: 134px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.vertical-line-2 {
    position: absolute;
    top:  380px;
    left: 458px;
    width: 0px;
    height: 207px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.history-container p:nth-of-type(2) {
    position: absolute;
    top: 431px;
    left: 486px;
    width: 208px;
    height: 60px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}
/* Products section styles*/

.products-container {
    position: relative;
    left: 10px;
    width: 1043px;
    height: 698px;
}

.ol-box {
    display: inline-block;
    width: 343px;
    height: 698px;
}

/* Leftbar styles*/

.leftbar-container {
    position: fixed;
    top: 0;
    width: 376px;
    height: 100vh;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.search {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 257px;
    height: 38px;
    background-image: url(/images/magnifying-glass.png);
    background-position: left;
    background-repeat: no-repeat;
    border: 1px solid #373867;
    border-radius: 5px;
}

.leftbar-container p:nth-of-type(1) {
    position: absolute;
    top: 100px;
    left: 45px;
    width: 86px;
    height: 28px;
    padding-bottom: 5px;
    border-bottom: 5px solid #B1D1A4;
    font-family: Raleway,sans-serif;
    font-size: 24px;
    font-weight: 400;
    }

.leftbar-container p:nth-of-type(2){
    position: absolute;
    top: 300px;
    left: 45px;
    width: 180px;
    height: 38px;
    padding-bottom: 5px;
    border-bottom: 5px solid #B1D1A4;
    font-family: Raleway,sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.leftbar-container p:nth-of-type(3) {
    position: absolute;
    top: 360px;
    left: 45px;
    width: 279px;
    height: 147px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #545454;
}

.get-touch {
    position: absolute;
    top: 500px;
    left: 45px;
}

.get-touch li {
    width: 280px;
    height: 45px;
    margin-bottom: 20px;
    border-bottom: 1px solid #A4A4A4;
}

.get-touch li a {
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #545454;
    text-align: right;
    text-decoration: none;
}

#adress {
    position: absolute;
    left: 34px;
    font-size: 16px;
    text-align: left;
}
.get-touch li a img {
    width: 34px;
    height: 37px;
}

/*Footer styles*/

.footer-container{
    position: fixed;
    bottom: 0;
    left: 378px;
    z-index: 5;
    background-color: #FFFFFF;
    border-top: 3px solid #AACE9B;
    width: 1063px;
    height: 99.2px;
}

.social-box {
    position: absolute;
    top: 60px;
    left: 383px;
    width: 250px;
    height: 24.32px;
}

.social-box img {
    margin-right: 25px;
    width: 25.7px;
    height: 24.32px;
}

.footer-container p:nth-of-type(1) {
    position: absolute;
    top: 30px;
    left: 411px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}


.footer-container p:nth-of-type(2) {
    position: absolute;
    top: 90px;
    left: 331px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
} 


