body {
    width: 1440px;
    font-family: Poppins, sans-serif;
}

header {
    position: relative;
    left: 376.02px;
    width: 1064px;
    height: 156px;
    
}



h1 {
    position: absolute;
    left: 122.3px;
    top: 72.92px;
    bottom: 43.96px;
    width: 868.32px;
    height: 36.96px;
    border-bottom: 3px solid #AACE9B;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
}

main {
    position: absolute;
    left: 376.02px;
}

h2 {
    position: absolute;
    left: 14.57px;
    top: 10px;
    bottom: 383.44px;
    width: 495.78px;
    height: 317.56px;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
}

button {
    position: absolute;
    top: 627.84px;
    left: 10px;
    width: 144.37px;
    height: 50.55px;
    background-color: #FFFFFF;
    border: 2px solid #AACE9B;
    border-radius: 4px;
    color: #AACE9B;
    font-size: 13px;
    font-weight: 400;

}

h3 {
    position: absolute;
    left: 122.3px;
    width: 868.32px;
    border-bottom: 3px solid #AACE9B;
    font-size: 48px;

}

label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


.burguer-menu {
    position: absolute;
    left: 32.93px;
    top: 39.96px;
    bottom: 11.14px;
    width: 35.75px;
    height: 33.92px;
}

.welcome-container {
    position: relative;
    width: 1063px;
    height: 711px;
}

.free-website {
    position: absolute;
    top: 288.83px;
    left:24.66px;
    bottom: 308.44px;
    width: 426.33px;
    height: 113.73px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
}

.website-introduction {
    position: absolute;
    top: 448.9px;
    left: 15.64px;
    bottom: 48.68px;
    width: 557.17px;
    height: 213.42px;
    font-size: 24px;
    color: #b3b3b3;
}

.clock {
    position: absolute;
    top: 20.65px;
    left: 572.81px;
    width: 469.19px;
    height: 584.11px;
}

.do-container {
    width: 1063px;
    height: 717px;
}

.actions-box {
    display: inline-block;
    width: 49%;
    height: 250px;
    padding-top: 100px;
}

.action-box img {
    width: 207.98px;
    height: 236.61px;
}


.description-box {
    float: right;
    width: 302.64px;
    height: 236.12px;
}

.description-box h4 {
    font-size: 28px;
    font-weight: 700;
}

.description-box p {
    padding-top: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

.why-container {
    position: relative;
    width: 1063px;
    height: 500px;
}
.why-container h3 {
    padding-top: 100px;
    box-sizing: border-box;
}

.why-container ul {
    position: absolute;
    top: 150px;
    left: 122.3px;
}

.why-container ul li {
    padding-top: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
}

.contact-container {
    position: relative;
    width: 1063px;
    height: 516px;
}

.form-box {
    display: inline-block;
    width: 358px;
    height: 61px;
    
}

.form-box input {
    width: 317px;
    height: 43px;
}

.business {
    position: absolute;
    top: 90px;
    left: 95px;
}

.email {
    position: absolute;
    top: 90px;
    left: 492px;
}

.contact-area {
    position: absolute;
    top: 172px;
    left: 100px;
    display: inline;
}
.contact-area p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.contact-area ul li {
    padding-top: 20px;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
}



.phone {
    position: absolute;
    top: 215px;
    left: 492px;
}

.message {
    position: absolute;
    top: 328px;
    left: 95px;
    display: inline-block;
    width: 714px;
    height: 200px;
}

.message textarea {
    width: 714px;
    height: 111px;
}

.message input {
    position: absolute;
    top: 159px;
    left: 565px;
    width: 158px;
    height: 36px;
    background-color: #AACE9B;
    border: 1px solid #373867;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
}

.history-container {
    position: relative;
    width: 895px;
    height: 604px;
    background-image: url(/images/ellipse.png);
}

.history-container h3 {
    position: absolute;
    top: 149px;
    left: 169px;
    width: 235px;
    height: 90px;
    border: none;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align:  right;
    color: #756464;
}

#history-p {
    position: absolute;
    top: 268px;
    left: 146px;
    width: 300px;
    height: 60px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}

#data-security {
    position: absolute;
    top: 423px;
    left: 256px;
    width: 78px;
    height: 78px;
}

#effective-time {
    position: absolute;
    top: 423px;
    left: 362px;
    width: 78px;
    height: 78px;
}

#objetive {
    position: absolute;
    top: 167px;
    left: 448px;
}

#objective-p {
    position: absolute;
    top: 431px;
    left: 486px;
    width: 208px;
    height: 60px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}
