.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 72px;
    background-color: #ffffff;
    border-bottom: 5px solid #AACE9B;
}

.header-container button {
    margin-left: 20px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}

.header-container button img {
    width: 48px;
    height: 44px;
}