header {
    position: sticky;
    top: 0;
}
.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: auto;
    background-color: #ffffff;
    border-bottom: 5px solid #AACE9B;
}

.header-container button {
    width: 48px;
    height: 44px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}

.header-container button img {
    width: 48px;
    height: 44px;
}

@media screen and (min-width: 600px) {
    .header-container {
        justify-content: flex-end;
        width: 75%;
    }
}