header {
    position: sticky;
    z-index: 6;
    top: 0;
    background-color: #ffffff;
}
.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: auto;
    
    background-color: #ffffff;
    border-bottom: 5px solid #AACE9B;
}

h1 {
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}

.header-container button {
    width: 48px;
    height: 44px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}

.header-container button img {
    width: 48px;
    height: 44px;
}

@media screen and (min-width: 768px) {
    header {
        width: 75%;
        margin-left: 25%;
    }

    .header-container {
        align-items: flex-end;
        height: 156px;
    }
    
    h1, .header-container button {
        margin-bottom: 20px;
    }

}
    