
/* 'Welcome section styles*/

.welcome-box {
    display: flex;
    width: 90%;
    height: auto;
}

.clock {
    max-width: 40%;
    min-height: 163px;
}

.clock img {
    width: 100%;
}
.welcome-box p {
    max-width: 65%;
    min-height: 127px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 28px;
    line-height: 42px;
    font-style: italic;
}


.welcome > p {
    max-width: 95%;
    max-height: 152px;
    font-size: 24px;
    line-height: 36px;
    color: #b3b3b3;
}

.welcome button {
    align-self: flex-start;
    margin-top: 20px;
}

/* 'What can you do?' section styles*/

.actions-box img {
    align-self: center;
    width: 50%;
    margin: auto;
}



.description h4 {
    width: 70% ;
    margin-top: 20px;
    padding: 0;
    border: none;
    font-family: Roboto, sans-serif;
    line-height: 15px;
    text-align: center;
}

.description p {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* 'What can you do?' section styles*/

.why ul li {
    margin-left: 20px;
    padding-top: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    list-style-type: '✓';
}

/* Contact form styles */

.box-wrapper input {
    width: 80%;
    height: 43px;
    margin-bottom: 20px;
}

.contact-area p {
    font-size: 14px;
    font-weight: 700;
}

.contact-area ul li {
    margin-top: 20px;
}

.contact-area ul li label {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message input {
    align-self: center;
    margin-top: 20px;
}

/* 'Trackgenix history' section styles */

.history p {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.history img {
    display: none ;
}
.history p span {
    display: block;
    margin-left: 0;
    margin-right: 150px;
    margin-bottom: 10px;
}

/* Products section styles*/

.column-container h4 {
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}

.column-container ol li {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    list-style: decimal;
}
