
/* 'Welcome section styles*/


.welcome-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-height: 400px;
}

h2 {
    align-self: center;
    max-width: 413px;
    max-height: 126px;
    width: 90%;
    z-index: 5;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.welcome-box p {
    align-self: center;
    max-width: 200px;
    width: 60%;
    height: 127px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 28px;
    line-height: 42px;
    font-style: italic;
}

.clock {
    align-self: center;
    max-width: 469px;
    width: 30%;
    max-height: 584px;
    margin-right: 20px;
}

.clock img {
    width: 100%;
}

.welcome > p {
    align-self: flex-start;
    max-width: 558px;
    width: 100%;
    max-height: 152px;
    margin-left: 20px;
    font-size: 24px;
    line-height: 36px;
    color: #b3b3b3;
}

.welcome button {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

/* 'What can you do?' section styles*/

.actions-box img {
    align-self: center;
    width: 50%;
    margin: auto;
}



.description h4 {
    width: 70% ;
    margin-top: 20px;
    padding: 0;
    border: none;
    font-family: Roboto, sans-serif;
    line-height: 15px;
    text-align: center;
}

.description p {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* 'Why use Trackgenix' section styles*/

.why ul li {
    margin-left: 30px;
    padding-top: 30px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    list-style-type: '✓';
}

/* Contact form styles */

.box-wrapper input {
    width: 80%;
    height: 43px;
    margin-bottom: 20px;
}

.contact-area p {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
}

.contact-area ul li {
    margin: 20px;
}

.contact-area ul li label {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.message input {
    align-self: center;
    margin-top: 20px;
}

/* 'Trackgenix history' section styles */

.history h3 {
    margin-right: 60px;
}

.history p {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}

.history img {
    display: none ;
}
.history p span {
    display: block;
    margin-left: 0;
    margin-right: 150px;
    margin-bottom: 10px;
}

/* Products section styles*/

.container-column h4 {
    padding-bottom: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}

.container-column ol li {
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    list-style: decimal;
}

@media screen and (min-width: 768px) {

    h2 {
    align-self: flex-start;
    width: 100%;
    height: 238px;
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 64px;
    } 



    .clock {
        width: 100%;
    }

    .welcome-box p {
        width: 100%;
        text-align: left;
    }
}

